@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.dropzone {
  border: 5px solid black;
  border-radius: 20px;
  padding: 10px;
  height: 350px;
  min-width: 225px;
}

table {
  margin-right: 15px;
  min-width: 750px;
  width: 98%;
}

input[type='checkbox'] {
  cursor: pointer;
}

.zoneborder {
  border-color: rgb(184, 55, 184);
}

.spinner {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;

  margin: 5% auto;
  animation: spin 2s linear infinite;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}