@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

.dropzone {
  border: 5px solid black;
  border-radius: 20px;
  width: 500px;
  padding: 10px;
}

.progress {
  border: 1px solid black;
  border-radius: 5px;
  height: 20px;
  width: 99%;
}

input[type='checkbox'] {
  cursor: pointer;
}

.zoneborder {
  border-color: rgb(184, 55, 184);
}

.spinner {
  display: none;
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;

  margin: 5% auto;
  animation: spin 2s linear infinite;
  border: 12px solid #f3f3f3;
  border-top: 12px solid #3498db;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}